<div class="column">
<h2 class="title pb-4">create new account:</h2><hr>
<form class="signup-form">
  <div>
    <label for="username-signup" >username:</label>
    <input type="text" id="username-signup" class="control has-icons-left has-icons-right" />
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  
  </div>
  <div>
    <label for="email-signup" class="control has-icons-left has-icons-right">email:</label>
    <input type="text" id="email-signup" />
     <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>

  <div>
    <label for="email-signup" class="control has-icons-left has-icons-right">Twitter:</label>
    <input type="text" id="twitter-signup" />
     <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  
    <label for="password-signup" class="control has-icons-left">password:</label>
    <input type="password" id="password-signup" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </div>
  <div>
    <button type="submit" class="button is-primary">signup</button>
  </div>
</form>
</div>


<!-- javascript file-->







<script src="/javascript/signup.js"></script>

